include AUTHOR
include COPYING
include INSTALLATION
include LICENSE
include Makefile
include pymice.h
recursive-include test *
prune test/data/*.zip
include tutorial/*/*.ipynb
include lib/pymice/_Python?/*.py
include lib/__init__.py
